body{
    background-image: url("./public/background.png");
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
   /* background-attachment: fixed; */
}

.banner{
    background-image: url("./public/bannerbg.png");
    background-repeat: repeat-x;
    text-align: center;
    
}

h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
}
.containerDiv{
    margin: auto;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 4px solid gray;
}

.ratingDiv{
    background-image: url("./public/rbg.png");
    
    font-size: 48pt;
    font-weight: bold;
    color: red;
    height: 83px;

}
.ratingDiv img{
    vertical-align: bottom;
}

.generalOverviewDiv{
    
    width: 250px;
    
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position:absolute;
    
}

.generalOverviewDiv dt {
    padding-top: 10pt;
    padding-left: 5pt;
    font-weight: bold;
}

.link{
    padding-left: 0px;
    list-style-type: none;
}

.allCriticsDiv{
    width: 550px;
}

.col{
    column-count: 2;
    padding: 10px;    
}
 .leftDiv, .rightDiv{
    height: 910px;
}



.criticDiv{
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment{
  
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
} 
.comment img{
    float: left;
    margin-right: 5px;
} 

.commenter {
    font-style: italic;
    margin-top: 5px;
}

.commenter img{
    float: left;
}
.pageCounter{
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.checker{
    
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 50%;
}
