body {
    font-family: "Century Gothic", sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 100%;

}

div,
h2 {
    margin-bottom: 10px;
    margin-left: 10px;
} 

button {
    width: 75%;
    text-align: center;
    margin-left: 10px;
}

.container {
    margin-top: 10%;
    border: 2px solid blue;
}


.main-container {
    display: flex;
    height: 160px; /* 10em = 160px */
}

.column {
    margin: 5px;
}

.column-left {
    width: 50%;
}

.column-right {
    width: 50%;
}

#listContainer{
    width: 85%;
    height: 65%;
    box-sizing: border-box;
}

#taskList{
    width: 100%;
    height: 100%;
}

#task{
    width: 73%;
    margin-left: 10px;
}

#container-left{
    margin: 5%;
}

#taskHeader{
    color: blue;
}